body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #008000;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #00b050;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container input {
    padding: 8px 10px;
    padding-left: 30px;
}

.search-container .fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.contact-info {
    text-align: center;
}

.contact-info h1 {
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info .info p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.contact-form {
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #008000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 100px;
}

.contact-form button:hover {
    background-color: #00b050;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #008000;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
